<% content_for(:head) do %>
  <title>Sign In</title>
<% end %>

<div class="flex bg-gray-100 min-h-screen">
  <div class="w-full lg:w-3/6 mx-auto flex justify-center items-center">
    <div class="max-w-md w-full mx-auto px-4 py-8">
      <%= image_tag 'home/logo.jpg', class: 'h-12 mx-auto', alt: 'you_app_name' %>
      <div>
        <div class="mt-4 flex-col justify-between">
          <div class="mt-8">
            <% if ENV['GOOGLE_CLIENT_ID'].present? %>
              <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post  do%>
                <button
                  class="btn bg-white shadow btn-large w-full hover:shadow-md"
                  type="submit"
                >
                  <%= image_tag 'login/google-icon.svg', class: 'w-4', alt: 'Continue with Google' %>
                  <span class="ml-2">Continue with Google</span>
                </button>
              <% end %>
            <% end %>
            <% if ENV['FACEBOOK_APP_ID'].present? %>
              <%= link_to user_facebook_omniauth_authorize_path, method: :post  do%>
                <button
                  class="mt-2 btn bg-white shadow btn-large w-full hover:shadow-md"
                  type="submit"
                >
                  <i class="fab fa-facebook text-lg text-blue-700"></i>
                  <span class="ml-2">Continue with Facebook</span>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
