<%
  def props
    {
      docId: @doc.id.to_s,
      content: @doc.content || '',
      title: @doc.title || '',
      slug: @doc.slug || '',
      excerpt: @doc.excerpt || '',
      categoryId: @doc.category.id.to_s,
    }
  end
%>

<% content_for(:head) do %>
  <%# <%= stylesheet_pack_tag 'DocsEditorPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'DocsEditorPack', 'data-turbolinks-track': 'reload' %>
<% end %>

<script type="application/json" id="react-root-data">
  <%= props.to_json.html_safe %>
</script>
<div
  class="bg-white shadow overflow-hidiven  sm:rounded-lg max-w-3xl mx-auto mt-4"
>
  <div
    class="px-6 py-5 border-b border-gray-200 flex flex-col items-between justify-center  lg:flex-row lg:items-center lg:justify-between sm:px-6"
  >
    <div class="mt-4 text-3xl font-semibold">Update Doc</div>
  </div>
  <div class="px-6 py-4 mx-auto">
    <section class="mt-8">
      <div class="w-full" id="docs-editor"></div>
    </section>
  </div>
</div>
