@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom utilities */

.max-w-fc {
  max-width: fit-content;
}

/* Custom Style */

body {
  font-family: "Open Sans", sans-serif;
  color: #453c52;
  @apply antialiased;
}

@screen md {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.gray.500) theme(colors.gray.100);
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: theme(colors.gray.100);
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.gray.500);
    border-radius: 6px;
    border: 3px solid theme(colors.gray.100);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.hero__title-gradient {
  @apply bg-gradient-to-r from-secondary-500 to-primary-500;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}

/* Button */

.btn {
  @apply inline-flex items-center justify-center whitespace-nowrap text-sm font-semibold py-2 px-4 rounded cursor-pointer;
}

.btn:focus {
  @apply outline-none shadow-inner;
}

/* Button Styles */

.btn-default {
  @apply bg-gray-100 text-gray-500;
}

.btn-default:hover {
  @apply bg-gray-200 text-gray-600;
}

.btn-default:focus {
  @apply bg-gray-200 text-gray-700;
}

.btn-primary {
  @apply bg-primary-500 text-white shadow;
}

.btn-primary:hover {
  @apply bg-primary-600;
}

.btn-primary:focus {
  @apply bg-primary-800;
}

button:disabled,
.disabled {
  @apply cursor-not-allowed bg-gray-100 text-gray-500 shadow-none border-transparent;
  background-image: none;
}

button:disabled:hover,
.disabled:hover,
button:disabled:focus,
.disabled:focus {
  @apply bg-gray-100 text-gray-500 border-transparent shadow-none;
  background-image: none;
}

.btn-small {
  @apply py-1 px-3 text-xs h-8 leading-tight;
}

.btn-normal {
  @apply py-2 px-4 text-sm h-8;
}

.btn-large {
  @apply py-2 px-5 text-sm h-10;
}
